@import "./common.scss";


// 我的部分
#my{
	background:#FFF;
	.user_box{
		width: 100%;
		height: rem(510);
		background: url(../static/common_icon/content_bg.jpg);
		background-size:rem(1080) rem(510);
		position:relative;
		.user_box_o{
			position:absolute;
			width: 100%;
			height: rem(510);
			left:0;
			top:0;
			background:#000;
			opacity: .3;
		}
		.user_box_box{
			position:absolute;
			width: 100%;
			height: rem(510);
			left:0;
			top:0;
			z-index:100;
			.user_icon_box{
				height:rem(170);
				width:rem(170);
				background:#FFF;
				border-radius:50%;
				margin-left:rem(455);
				margin-top:rem(20);
				overflow: hidden;
				>a{
					display: inline-block;
					width: rem(160);
					height: rem(160);
					border: 1px solid #CCC;
					border-radius: 50%;
					overflow: hidden;
					margin-left: rem(5);
					margin-top: rem(5);
					>img{
						width: rem(160);
						height: rem(160);
					}
				}
			}
			.setting{
				position: absolute;
				right: rem(50);
				top: rem(10);
				font-size: rem(60);
				color: #FFF;
			}
			>p{
				text-align: center;
				font-size: rem(40);
				margin-top: rem(60);
				color: #FFF;
			}
			// 关注，粉丝
			.user_box_attbox{
				position: relative;
				text-align: center;
				margin-top: rem(60);
				>span{
					color: #FFF;
					font-size: rem(35);
					display: inline-block;
				}
				.guan{
					margin-right: rem(50);
				}
				.fen{
					margin-left: rem(50);
				}
				>i{
					position: absolute;
					display: inline-block;
					height: rem(60);
					width: rem(3);
					background:#FFF;
				}
			}
		}
	}
	.content_item{
		height: rem(300);
		width: 100%;
		border-top: rem(30) solid #eeeeee;
		border-bottom: rem(30) solid #eeeeee;
		>ul{
			height: rem(240);
			width: 100%;
			display: flex;
			>li{
				flex: 1;
				text-align: center;
				>i{
					display: inline-block;
					margin-top: rem(40);
					font-size: rem(60);
					color: $color1;
				}
				>p{
					margin-top: rem(30);
					font-size: rem(35);
					color: $color2;
				}
			}
		}
	}
	.content_list{
		width: 100%;
		>ul{
			>li{
				height: rem(150);
				width: 100%;
				border-bottom: rem(2) solid #f1f1f1;
				line-height: rem(148);
				position: relative;
				>i{
					color: #bcbcbc;
					position: absolute;
					font-size: rem(56);
				}
				>span{
					font-size: rem(35);
				}
				.content_list_icon{
					left: rem(40);
				}
				.content_list_to{
					right: rem(50);
				}
				>span{
					color: #616161;
					margin-left: rem(120);
				}
			}
		}
	}
}
